body {
    background-color: white;
    color: black;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.form {
    max-width: 720px;
    border: 6px solid grey;
    border-radius: 1rem;
    padding: 1rem;
}